<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Database" connectionString="Data Source=D:\CSharpProject\FileTagManager\FileTagManager.Database\Data\FileTagManagerData.sqlite;foreign keys=true;" />-->
    <add name="Database" connectionString="Data Source=.\Data\FileTagManagerData.sqlite;foreign keys=true;" />
  </connectionStrings>
  <appSettings>
    <add key="isInit" value="false"/>
  </appSettings>
</configuration>